.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;

  background: color-mix(in srgb, var(--background) 75%, transparent);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-bottom: 1px solid var(--border);

  transition:
    background .3s ease,
    border-color .3s ease;
}

.header__container {
  max-width: 1400px;
  margin: 0 auto;

  padding: 1.5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: .9rem;

  text-decoration: none;
}

.logo-mark {
  display: flex;
  align-items: center;
}

.logo-g,
.logo-t {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -.08em;
}

.logo-g {
  color: var(--primary);
}

.logo-t {
  color: var(--text);

  margin-left: -10px;

  transform: translateY(-2px);
}

.header__logo-name {
  font-size: 1.15rem;
  font-weight: 600;

  color: var(--text);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__link {
  position: relative;

  font-size: .95rem;
  font-weight: 500;

  color: var(--text-secondary);

  transition: color .25s ease;
}

.header__link:hover {
  color: var(--text);
}

.header__link.active {
  color: var(--primary);
}

.header__link.active::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -12px;

  width: 100%;
  height: 2px;

  background: var(--primary);

  border-radius: 999px;
}

.header__theme-button {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--border);
  border-radius: 50%;

  background: var(--surface);

  color: var(--text);

  cursor: pointer;

  transition:
    background .25s ease,
    transform .25s ease,
    border-color .25s ease;
}

.header__theme-button:hover {
  background: var(--surface-light);

  transform: rotate(20deg);
}

.header__theme-button svg {
    transition: transform .3s ease;
}

.header__theme-button:hover svg {
    transform: rotate(20deg);
}

@media (max-width: 900px) {

  .header__nav {
    display: none;
  }

  .header__logo-name {
    display: none;
  }

}